@model Lab1_des.Models.GoogleOauthViewModel
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Вход - Security Chat</title>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="~/Content/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONT AWESOME  CSS -->
    <link href="~/Content/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="~/Content/assets/css/style.css" rel="stylesheet" />
</head>
<body class="login-body">
    <div class="container">
        <form class="form-signin col-sm-8 col-sm-offset-2">
            <h2 class="form-signin-heading text-center">Вход в систему</h2>
            <div class="login-wrap">
                <a class="btn btn-lg btn-login btn-block btn-success" href="@Model.GetUrl">Войти</a>
            </div>
        </form>
    </div>
    <!-- USING SCRIPTS BELOW TO REDUCE THE LOAD TIME -->
    <!-- CORE JQUERY SCRIPTS FILE -->
    <script src="~/Scripts/jquery-2.2.1.min.js"></script>
    <!-- CORE BOOTSTRAP SCRIPTS FILE -->
    <script src="~/Content/assets/js/bootstrap.js"></script>
</body>
</html>