@{
    ViewBag.Title = "Index";
}

<div class="text-center col-sm-8">
    <h2>Главная страница</h2>

    <div>Привет, @User.Identity.Name!</div>
    <div>
        Воспользуйся нашим безопасным чатом и твои сообщения точно никто не прочитает кроме тебя и твоего собеседника!
    </div>
</div>