@{
    ViewBag.Title = "Index";
}

<div class="text-center col-sm-8">
    <h2>Главная страница</h2>

    <div>Привет, @User.Identity.Name!</div>
    <div>
        Воспользуйся нашим безопасным чатом и твои сообщения точно никто не прочитает кроме тебя и твоего собеседника!
        <p>
            Доступные чаты:
        </p>
        <ul class="chat-box-online-left">
            <li>Чат с DES шифрованием</li>
            <li>Со случайным ключом</li>
            <li>С использованием алгоритма RSA</li>
            <li>С получением ключей по алгоритму Диффи-Хеллмана</li>
        </ul>
    </div>
</div>